head {
  border-bottom: red;
}
body {
  font-family: "Ubuntu", sans-serif;
  border-bottom: 50px red;
  background-color: cornsilk;
  margin-bottom: 50% red;
  border-bottom: 40px black;
}

.fc {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 200%;
  padding-left: 10%;
  padding-bottom: 20%;
  padding-top: 10%;
}
.half-width img {
  padding-bottom: 150px;
  width: 50%;
}
.add-border {
  border-left: 5px solid orangered;
  padding-left: 4px;
}

.half-width img {
  width: 50%;
  padding-bottom: 150px;
}
h1 {
  font-size: 60px;
}
.link-button {
  text-decoration: none;
  background-color: tomato;
  padding: 10px 40px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
}

.red {
  color: brown;
}
#hero {
  text-align: center;
}

.black {
  background-color: black;
  padding-bottom: 20px;
  background-position: bottom;
}
.last {
  color: blanchedalmond;
  text-align: center;
}
