head {
  border-bottom: red;
}
body {
  font-family: "Ubuntu", sans-serif;
  border-bottom: 50px red;
}

section {
  display: flex;
}
.half-width {
  width: 200%;
  padding-left: 10%;
  padding-bottom: 20%;
  padding-top: 10%;
}
.add-border {
  border-left: 5px solid orangered;
  padding-left: 4px;
}

.half-width img {
  width: 50%;
  padding-bottom: 150px;
}
.h1 {
  font-size: 90px;
}
.link-button {
  text-decoration: none;
  background-color: tomato;
  padding: 10px 40px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
}

.img-added {
  width: 200%;
  padding-left: 10%;
  padding-bottom: 50%;
  padding-top: 10%;
  size: 5px;
}
